<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Projet 1</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
            <h1><b><span th:utext="${message}"></span></b></h1>
        <h1>Réseau social dans le domaine de l’art.... Ajouter un Carousel pk pas ?  </h1>
        <h2>1. Avoir <a th:href="@{/admin}">Accès Administrateur </a></h2>
        <h2>2. Avoir <a th:href="@{/user}">Accès Utilisateur </a></h2>
        <h2>3. Avoir <a th:href="@{/about}">Page principal (about/réglement/Qui somme nous)</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>